target
.idea
.classpath
.metadata
.project
.settings
.externalToolBuilders
.vscode
.java-version
maven-eclipse.xml
*.swp
*.iml
*.ipr
*.iws
*.bak
.vlt
.DS_Store
jcr.log
atlassian-ide-plugin.xml
.vlt-sync.log
.vlt-sync-config.properties
generated

# Ignore Quickstart launches in the source tree
license.properties
crx-quickstart
